body{
    background-color: #10153b;
    color: #ffffff;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    /* min-height:500px; */
}
.search-bar{
    margin-top:20px;
}
.single-phone{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.phoneDetails,.not-found{
    text-align: center;
    width: 100%;
}

li{
    list-style-type: none;
}
.feature{
    font-weight:bold;
    color:#0bbd69;
    font-size: 30px;
}
.details-img{
    margin-top: 10px;
    margin-bottom:20px;
}

@media only screen and (max-width: 600px) {

    .single-phone{
        display: inline-block;
    }
    .content-area{
        text-align: center;
    }

}